
<div id="pagenot">
    <div class="absCenter ">
        <div class="loaderPill">
            <div class="loaderPill-anim">
                <div class="loaderPill-anim-bounce">
                    <div class="loaderPill-anim-flop">
                        <div class="loaderPill-pill"></div>
                    </div>
                </div>
            </div>
            <div class="loaderPill-floor">
                <div class="loaderPill-floor-shadow"></div>
            </div>
            <h1 class="text-center loaderPill-text" style="font-size:60px;line-height: 60px;">{{for=="tr"?"sayfa bulunamadı !":"page not found !"}}</h1><br>
            <div><button mat-button class="loaderPill-text" routerLink=""> {{for=="tr"?" Anasayfa' ya Dön":"Go to Home page"}}</button></div>
        </div>
      
    </div>
</div>