<div id="pagenot">
    <div class="absCenter ">
        <div class="loaderPill">
            <div class="loaderPill-anim">
                <div class="loaderPill-anim-bounce">
                    <div class="loaderPill-anim-flop">
                        <div class="loaderPill-pill"></div>
                    </div>
                </div>
            </div>
            <div class="loaderPill-floor">
                <div class="loaderPill-floor-shadow"></div>
            </div>
            <div><button mat-button class="loaderPill-text text-primary"> {{for=="tr"?"İşlem Yapma Yetkİnİz Bulunmamakta !":"You are not authorized to take action "}}</button></div>
        </div>
    </div>
</div>